<%= render layout: 'layouts/entries' do %>

    <div class="editor" >
        <div class="editor__header">
            <h1 class="editor__title">Editing entry</h1>
            <%= link_to "← Go back", entry_path(@entry) %>
        </div>

        <%= render 'entries/form' %>
        
        <section class="editor__delete">
            <p>Or, remove this entry entirely:</p>
            <%= link_to '×  Remove', entry_path(@entry), method: :delete, data: {confirm: "Are you sure you want to remove this entry?"}, class: "button button--danger" %> 
        </section>
        
    </div>

<% end %>