<%= render layout: 'layouts/app' do %>

    <div class="editor" >
        <h1 class="visually-hidden">Editing entry</h1>
        <%= link_to "â† Go back", entry_path(@entry), class: "go-back" %>
        <div class="editor__header"></div>

        <%= render 'entries/form' %>
        
        <section class="editor__delete">
            <p>Or, remove this entry entirely:</p>
            <%= link_to fa_icon( "trash", text: "Remove"), entry_path(@entry), method: :delete, data: {confirm: "Are you sure you want to remove this entry?"}, class: "button button--danger" %> 
        </section>
        
    </div>

<% end %>