<%= render layout: 'layouts/entries' do %>

<div class="entry">
        <div class="entry__header">
            <h1 class="entry__title">Welcome to the FutureGov technology wiki</h1>
        </div>
        <div class="entry__content">
            Browse around!
        </div>
    </div>

<% end %>