<h1>Entries#index</h1>
<p>Find me in app/views/entries/index.html.erb</p>


<%= link_to "New entry", new_entry_path %>

<% if current_user %>

  User ID: <%= current_user.uid %>

  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
<% end %>