<%= render layout: 'layouts/app' do %>

<div class="entry">
        <div class="entry__header">
            <h1 class="entry__title">FutureGov Tech Wiki</h1>
        </div>
        <div class="entry__content">
            <p>A tool for FutureGov’ers to document, share and more easily access our combined knowledge of technology & data.<br/><br/>

            Initially we’ve filled this with brief explanations of common terms and concepts but anybody at FG can add to, or edit the content. It’s an experiment for now so we’d suggest keeping your content reasonably short and linking off to other resources for more detail (Google Docs etc).<br/><br/>

            We're running some analytics to help us understand how people use the tool but <strong>please add any specific feedback or feature requests/ideas to the Trello board linked in the footer</strong> (or slack/chat with Stuart or Jaye)<br/><br/>

            <p><em>Wiki-Wiki-Wild-Wild Tech</em></p>
            <p>x x x</p>
            <p>🤖✊❤</p>
        </div>
    </div>

<% end %>