<%= render layout: 'layouts/app' do %>
    <div class="editor" >
        <div class="editor__header">
            <h1 class="editor__title">New entry</h1>
        </div>

        <%= render 'entries/form' %>
    </div>
<% end %>