<section class="links">
    <h2 class="links__title">Learn more</h2>
    <ul class="links__list">

        <% if @entry.external_links.any? %>
            <% @entry.external_links.each do |link| %>
                <li class="links__link-container">
                    <%= link_to link.description, link.url, target: :_blank, class: "links__link" %>
                    <%= link_to fa_icon( "trash"), entry_external_link_path(@entry, link), method: :delete, data: {confirm: "Are you sure you want to remove this link?"}, class: "links__remove-link" %> 
                </li>
            <% end %>
        <% end %>

        <li class="links__link-container">
            <button class="links__new-link">Add a useful link...</button>
        </li>
    </ul>
</section>


