// Colour scheme
$white: #ffffff;
$backgroundNeutral: #EEEFF0;
$backgroundReddish: #F4F2F3;
$purple: #292242;
$pink: #E53094;
$darkPurple: #170710;
$lightGrey: #504E4F;
$lighterGrey: #979797;
$red: #D02144;

$fontStack: proxima-nova, sans-serif