// Colour scheme

$white: #ffffff;

$backgroundNeutral: #EEEFF0;
$backgroundReddish: #F4F2F3;

$pink: #E53094;

$darkestPurple: #170710;
$darkPurple: #151021;
$purple: #292242;
$lightPurple: #6A5D85;

$lightGrey: #504E4F;
$lighterGrey: #BFBCC5;

$red: #D02144;


$fontStack: proxima-nova, sans-serif