.contents{
    padding: 15px;
    background-color: $backgroundNeutral;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid transparentize($lightGrey, 0.9);
    @media screen and (min-width: 800px){
        padding: 25px;
        max-width: 330px;
        border-bottom: none;
        border-right: 1px solid transparentize($lightGrey, 0.9);
    }
}

.contents__toggle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    &.contents__toggle--visible{
        .contents__toggle-icon{
            transform: rotate(180deg)
        }
    }
    @media screen and (min-width: 800px){
        display: none;
    }
}

.contents__toggle-title{
    margin: 10px 0px;
    font-size: 1.6em;
    font-weight: 600;
    color: $lightGrey;
}

.contents__toggle-icon{
    width: 20px;
    margin-right: 10px;
}

// @keyframes fadeIn{
//     from{
//         transform: translateY(-5px);
//         opacity: 0;
//     }
//     to{
//         transform: translateY(0px);
//         opacity: 1;
//     }
// }

.contents__collapsible{
    display: none;
    padding-top: 20px;
    &.contents__collapsible--visible{
        display: block;
    }
    @media screen and (min-width: 800px){
        display: block;
    }
}

.contents__list{
    margin-top: 20px;
    list-style-type: none;
}

.contents__heading{
    font-weight: bold;
    // color: $lightGrey;
    font-size: 1.2em;
    margin-bottom: 15px;
    @media screen and (min-width: 800px){
        margin-bottom: 20px;
    }
}

.contents__category-list{
    list-style-type: none;
    margin-bottom: 30px;
    @media screen and (min-width: 800px){
        margin-bottom: 40px;
    }
}

.contents__entry{
    font-size: 1.1em;
    margin-bottom: 15px;
    @media screen and (min-width: 800px){
        margin-bottom: 20px;
    }
}

.contents__entry-link{
    color: $darkPurple;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.contents__entry-link--active{
    opacity: 0.5;
    pointer-events: none;
}