.content-area{
    background-color: $white;
    padding: 30px 15px;
    @media screen and (min-width: 800px) {
        padding: 80px;
    }
    @media screen and (min-width: 1000px) {
        padding: 100px 160px;
    }
}