.editor__header{
    margin-bottom: 40px;
    @media screen and (min-width: 1000px) {
        margin-bottom: 60px;
    }
}

.editor__title{
    font-weight: normal;
    margin-bottom: 10px;
    @media screen and (min-width: 800px) {
        font-size: 2.5em;
    }
    @media screen and (min-width: 1000px) {
        font-size: 3em;
    }
}

.editor__delete{
    padding: 20px;
    margin-top: 40px;
    background-color: $backgroundReddish;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
