.entry__header{
    margin-bottom: 30px; 
    @media screen and (min-width: 800px) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1000px) {
        margin-bottom: 60px;
    }
}

.entry__title{
    font-weight: normal;
    margin-bottom: 5px;
    @media screen and (min-width: 800px) {
        font-size: 2.5em;
    }
    @media screen and (min-width: 1000px) {
        font-size: 3em;
        margin-bottom: 10px;
    }
}

.entry__meta{
    @media screen and (min-width: 1000px) {
        font-size: 1.1em;
    }
}

.entry__updated{
    display: inline-block;
    margin-right: 10px;
    font-style: italic;
    color: $lightGrey;
}


.entry__content{
    font-size: 1.1em;
    line-height: 1.5em;
    @media screen and (min-width: 1000px) {
        font-size: 1.2em;
    }
}