.entry__header{
    margin-bottom: 40px;
    @media screen and (min-width: 1400px){
        margin-bottom: 60px;
    }
}

.entry__title{
    font-size: 2.5em;
    font-weight: normal;
    color: $darkestPurple;
    margin-bottom: 10px;
}

.entry__updated{
    color: darken($lighterGrey, 10);
    margin-right: 15px;
    margin-bottom: 10px;
    @media screen and (min-width: 750px) {
        display: inline-block;
        margin-bottom: 0px;
    }
}

.entry__edit-link{
    display: inline-block;
    i{
        color: $pink;
    }
}

.entry__content{
    font-size: 1em;
    color: $darkestPurple;
    flex: 1;
    @media screen and (min-width: 1400px){
        font-size: 1.1em;
    }
}

.entry__grid{
    @media screen and (min-width: 1000px) {
        display: flex;
        flex-direction: row;
    }
}