.site-footer{
    padding: 40px 15px;
    font-size: 0.9em;
    @media screen and (min-width: 800px) {
        padding: 40px 80px;
        font-size: 1em;
    }
    @media screen and (min-width: 1000px) {
        padding: 40px 160px;
    }
    @media screen and (min-width: 1600px) {
        padding: 60px 220px;
    }

}

.site-footer__info{
    color: $lighterGrey;
    margin-bottom: 10px;
}

.site-footer__link{
    color: $lightGrey;
    margin-right: 10px;
}