.form-field{
    margin-bottom: 35px;
}

.form-label{
    font-size: 1.1em;
    color: $darkPurple;
    margin-bottom: 10px;
    display: block;
}

.form-input{
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid transparentize($lighterGrey, 0.5);
    border-radius: 8px;
}

.form-select{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    max-width: 200px;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid transparentize($lighterGrey, 0.5);
    border-radius: 8px;
}

trix-editor{
    @include userSuppliedContent;
}