.site-header{
    padding: 10px;
    background-color: $purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 800px){
        padding: 15px;
    }
}

.site-header__masthead{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.site-header__mobile-logo{
    max-height: 30px;
    margin-right: 5px;
    @media screen and (min-width: 800px){
        display: none;
    }
}
.site-header__desktop-logo{
    max-height: 30px;
    margin-right: 10px;
    display: none;
    @media screen and (min-width: 800px){
        display: block;
    }
}

.site-header__mobile-name{
    color: $white;
    font-weight: normal;
    @media screen and (min-width: 800px){
        display: none;
    }
}
.site-header__desktop-name{
    color: $white;
    font-weight: normal;
    display: none;
    @media screen and (min-width: 800px){
        display: block;
    }
}

.site-header__actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.site-header__action{
    font-weight: 600;
    text-decoration: none;
    color: $white;
    margin-left: 20px;
    padding: 9px 16px;
    display: none;
    font-size: 0.9em;
    &:first-of-type{
        margin-left: 0px;
    }
    @media screen and (min-width: 800px){
        padding: 12px 19px;
        display: inline;
        font-size: 1em
    }
    &:hover{
        text-decoration: underline;
    }
}

.site-header__action--primary{
    display: inline-block;
    border: 2px solid $white;
    border-radius: 8px;
    text-align: center;
    transition: 0.1s ease-out;
    &:hover{
        text-decoration: none;
        background-color: $white;
        color: $purple;
    }
    @media screen and (min-width: 800px){
        border-width: 3px;
    }

}