.site-header__bottom-row{
    border-bottom: 1px solid $lighterGrey;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1000px){
        padding: 25px 40px;
    }
    @media screen and (min-width: 1400px){
        padding: 25px 50px;
    }
}

.site-header__top-row{
    background: $purple;
    width: 100;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 750px){
        display: none;
    }
}

.site-header__mobile-masthead{
    text-decoration: none;
}

.site-header__mobile-logo{
    width: 40px;
}
.site-header__mobile-name{
    display: inline;
    font-size: 2em;
    font-weight: normal;
    color: $white;
}
.site-header__mobile-action{
    color: $white;
    text-decoration: none;
    span{
        color: $white;
        border-color: $white;
    }
}

.search-form{
    position: relative;
    width: 100%;
    @media screen and (min-width: 750px) {
        max-width: 200px;
    }
}

.search-field__input{
    background: $white;
    border: 1px solid $lighterGrey;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    padding-right: 35px;
    width: 100%;
}

.search-field__icon{
    background: none;
    border: none;
    padding: 7px;
    font-size: 1em;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    i{
        color: $lightGrey;        
    }
    &:hover i {
        color: $darkestPurple;
    }
}

.site-header__actions{
    display: none;
    @media screen and (min-width: 750px){
        display: block;
    }
}

.site-header__action{
    // font-weight: bold;
    color: $lightGrey;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.1s ease-in-out;
    &:last-of-type{
        margin-right: 0px;
    }
    &:hover{
        color: $darkestPurple;
        .site-header__icon{
            border-color: $darkestPurple
        }
    }
}

.site-header__icon{
    border: 1px solid $lightGrey;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    height: 20px;
}