.links{
    padding-top: 30px;
    @media screen and (min-width: 800px) {
        padding-top: 80px;
    }
    @media screen and (min-width: 1000px) {
        padding-top: 100px;
    }
    @media screen and (min-width: 1600px) {
        padding-top: 160px;
    }
}

.links__title{
    color: $lightGrey;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 15px;
    @media screen and (min-width: 800px){
        font-size: 1.1em;
        margin-bottom: 25px;
    }
}

.links__list{
    list-style-type: none;
    @media screen and (min-width: 800px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-column-gap: 25px;
    }
    @media screen and (min-width: 1500px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1800px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.links__link-container{
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    &:hover{
        .links__remove-link{
            transform: translateX(0px);
        }
    }
}

.links__link{
    background-color: $backgroundReddish;
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid darken($backgroundReddish, 5);
    font-size: 1.1em;
    color: $pink;
    height: 100%;
    text-decoration: none;
    padding-right: 60px;
    transition: 0.1s ease-out;
    &:hover{
        filter: brightness(0.95);
    }
    @media screen and (min-width: 1000px){
        padding: 25px;
        padding-right: 75px;
    }
}

.links__remove-link{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 1.1em;
    transition: 0.1s ease-out;
    transform: translateX(80px);
    &:hover{
        transform: scale(1.2) translateX(0px) !important;
        filter: brightness(1.2);
    }
    @media screen and (min-width: 1000px){
        right: 25px;
        bottom: 25px;
    }
}

.links__new-link{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid darken($backgroundReddish, 5);
    text-align: center;
    font-weight: 600;
    color: $lighterGrey;
    font-size: 1.1em;
    background: none;
    height: 100%;
    cursor: pointer;
    transition: 0.1s ease-out;
    &:hover{
        filter: brightness(0.8);
    }
    @media screen and (min-width: 1000px){
        padding: 25px;
    }
}

.new-link-dialog{
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.4);
    color: $darkPurple;
    border: none;
    max-width: 600px;
    margin: 0px 30px;
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    z-index: 100;
    overflow: hidden;
    animation: fadeIn 0.2s ease-out;
    @media screen and (min-width: 800px){
        top: 120px;
        margin: 0px auto;
        min-width: 500px;
    }

    &::backdrop{
        background: transparentize($lightGrey, 0.5);
        animation: fadeIn 0.2s ease-out;
    }

}

.new-link-dialog__content{
    padding: 30px;
}

.new-link-dialog__actions{
    padding: 30px;
    background-color: $backgroundReddish;
}


.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($darkPurple, 0.5);
    animation: fadeIn 0.2s ease-out;
}
