.notification{
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1em;
    background-color: transparentize($purple, 0.9);
    color: $lightGrey;
    @media screen and (min-width: 800px){
        margin-bottom: 30px;
        padding: 20px;
        font-size: 1.1em;
    }
    @media screen and (min-width: 1000px){
        margin-bottom: 60px;
        padding: 25px;
    }

    @include userSuppliedContent;

    p{
        margin-bottom: 20px;
    }
}

.notification--error{
    background-color: transparentize($red, 0.8)
}