.notification{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    background-color: transparentize($purple, 0.9);
    color: $lightGrey;
    @media screen and (min-width: 800px){
        margin-bottom: 30px;
        padding: 20px;
        font-size: 1.1em;
    }
    @media screen and (min-width: 1000px){
        margin-bottom: 60px;
    }



    p{
        margin-bottom: 20px;
    }

    i {
        color: $lightGrey;
        margin-right: 15px;
    }
}

.notification--alert{
    background-color: transparentize($red, 0.8)
}