<aside class="contents">

  <button id="toggle-contents" class="contents__toggle">
    <h2 class="contents__toggle-title">See contents</h2>
    <%= image_tag "chevron.svg", class: "contents__toggle-icon" %>
  </button>
  
  <div class="contents__collapsible">

    <%= render 'layouts/search' %>

    <ul class="contents__list">
      <% @categories.each do |cat| %>
        <% if cat.entries.any? %>
          <li>
            <h3 class="contents__heading"><%= cat.name %></h3>
            <ul class="contents__category-list">
              <% cat.entries.order('title ASC').each do |entry| %>
                <li class="contents__entry"><%= link_to entry.title, entry_path(entry), class: "contents__entry-link #{"contents__entry-link--active" if current_page? entry_path(entry)}" %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        
      <% end %>
    </ul>

  </div>
</aside>