<footer class="site-footer">
    <p class="site-footer__info">Built and maintained by the FutureGov technology and data practice.</p>
    <a class="site-footer__link" href="https://trello.com/b/KSJAaZQ4/technology-wiki-feedback-ideas" target="blank">Give feedback</a>
    <a class="site-footer__link" href="https://github.com/wearefuturegov/futuregov-technology" target="blank">View on Github</a>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "site-footer__link" %>
</footer>